* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.NotesApp {
    width: 600px;
    margin: 20px auto;
    padding-bottom: 10px;
    padding-top: 1px;
    box-shadow: 1px 1px 26px -16px rgba(0,0,0,0.55);
}
.NotesApp h2 {
    margin-left: 20px;
    margin-top: 20px;
}
.NotesApp a{
    margin-left: 250px;
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: bolder;
    color: black;
}
.NotesItem {
    box-shadow: 0px 0px 17px -8px rgba(0,0,0,0.55);
    /* border: 1px solid black; */
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
}
.NotesItem_date {
    font-size: 0.8rem;
    font-weight: bolder;
}
.DeleteButton {
    font-size: 0.6rem;
    font-weight: 500;
    border: none;
    background-color: red;
    color: white;
    margin-top: 3px;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.DeleteButton:hover {
    background-color: darkred;
}
.FormInput {
    margin: 20px;
    box-shadow: 0px 0px 36px -25px rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
}
.FormInput h3 {
    margin-bottom: 10px;
}
.FormInput .textAreaContent {
    resize: none;
    height: 100px;
    font-family: 'Poppins';
    padding: 5px;
    font-weight: bold;
}
.FormInput .inputTitle {
    font-family: 'Poppins';
    font-weight: bold;
    padding: 5px;
}
.NotesList {
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0px 0px 36px -25px rgba(0,0,0,0.55);
    margin: 20px;
}
.NotesList h3 {
    margin-top: 15px;
    margin-left: 15px;
}
.AddNotes {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.AddNotes:hover {
    background-color: darkblue;
}
.NotesEmpty {
    margin-left: 235px;
}